.header {
  padding: 2rem 0;
  background-color: #fbf7ec;
  color: #53555a;
  
  &Nav {
    ul {
      display: flex;
      list-style: none;
      li {
        margin: 0 1rem;
        a {
          color: inherit;
          font-size: 1.6rem;
          text-decoration: none;
        }
      }
    }
  }
  &Profile {
    display: flex;
    justify-content: flex-end;
    a, button {
      margin-left: 1rem;
      margin-right: 1rem;
      color: inherit;
      font-size: 1.6rem;
      text-decoration: none;
    }
    button {
      background-color: transparent;
      border: none;
      font-family: inherit;
      cursor: pointer;
    }
  }
}

.container {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  align-items: center;
}